<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ptz.item">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Item">

        <activity
            android:name=".sistema.FornecedorActivity"
            android:label="@string/app_name_fornecedor"
            android:launchMode="singleTop"
            android:parentActivityName="LoginActivity">

        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name_restrito"
            android:launchMode="singleTop"
            android:parentActivityName=".FullscreenActivity">

        </activity>

        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".FullscreenActivity"
            android:theme="@style/Theme.Item.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>